@font-face {
  font-family: "Black Flag";
  src: url("/assets/BlackFlag.ttf");
}
@font-face {
  font-family: "Trinigan";
  src: url("/assets/trinigan.ttf");
}

/*Music Button*/
.musicbutton {
  position: absolute;
}
.grammophone {
  filter: invert(100%);
  width: 20px;
}

/*Background*/
body {
  background-image: url("assets/backgroundharbor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0e0f14;
}

.container {
  display: grid;
  grid-template-areas:
    "t t t t t"
    "g . . . s";
  grid-template-rows: auto 700px;
  grid-template-columns: auto repeat(3, auto) 1fr;
  grid-gap: 5px;
}

/* Titel */
.title {
  grid-area: t;
  background: linear-gradient(black);
  background-blend-mode: multiply;
}

.title h1 {
  color: ghostwhite;
  font-family: "Black Flag";
  font-weight: normal;
  font-size: 60px;
  padding: 0px;
  margin-bottom: 0px;
}

.title p {
  color: ghostwhite;
  font-family: "Trinigan";
  margin-top: 0px;
  font-size: 25px;
}

.title h1,
.title p {
  text-align: center;
}

/* Lose text */
.win h2,
.lose h2,
.lose p {
  position: relative;
  color: ghostwhite;
  font-family: "Trinigan";
  font-size: 30px;
  left: 100px;
  top: -150px;
}

.gallow {
  grid-area: g;
  align-items: right;
}

/* Ghost animation */
.ghost {
  position: absolute;
  bottom: -35px;
  left: 10px;
  transform: scale(0.9);
  transition: opacity 2000ms;
}

.ghostfadein {
  opacity: 0.6;
  animation: fadeIn 5000ms ease-in 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

/*Galg animatie */
.noose {
  max-width: 30%;
  position: relative;
  top: -300px;
  left: 100px;
  animation: dangling 10000ms infinite both;
}

@keyframes dangling {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.nooseaway {
  animation: away 5000ms ease-in-out 1 forwards;
}

@keyframes away {
  0% {
    top: -300px;
  }
  100% {
    top: -900px;
  }
}

/*Houten bord*/
.sign {
  grid-area: s;
  text-align: center;
  position: relative;
  color: white;
  font-family: "Trinigan";
  text-shadow: 3px 3px 10px black, -3px -3px 6px black;
}
.sign-content {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign h2 {
  font-size: 2rem;
}
.sign h3 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 5px;
}
.sign p {
  font-size: 1.3rem;
  margin: 0 0 0 0;
}
.input-section {
  margin-top: 30px;
}
.sign input {
  background: #948b82;
  color: white;
  height: 32px;
  font-family: "Trinigan";
  font-size: 1.5rem;
}
.sign input::placeholder {
  color: white;
  font-family: "Trinigan";
  font-size: 1.5rem;
}
.sign input:focus {
  outline: none;
}

#theWord {
  font-size: 1.9rem;
  padding-top: 10px;
}
#guessedLetters {
  padding: 10px;
  font-size: 1.2rem;
  height: 20px;
}
#incorrect {
  padding-top: 20px;
  margin-bottom: 0;
}

/* Buttons */
button {
  background-image: url("assets/woodtexture.jpg");
  background-size: cover;
  color: white;
  font-family: "Trinigan";
  font-size: 1.5rem;
}
button:hover {
  cursor: pointer;
  filter: saturate(600%);
  box-shadow: 1px 1px 5px white;
}
button:focus {
  outline: none;
}

/* Media Queries */
@media (max-width: 1300px) {
  .noose {
    max-width: 40%;
    position: relative;
    top: -300px;
    left: 100px;
    animation: dangling 10000ms infinite both;
  }
  .ghost {
    position: absolute;
    bottom: 32px;
    left: 10px;
    transform: scale(0.9);
    transition: opacity 2000ms;
  }
}
@media (max-width: 1000px) {
  .noose {
    max-width: 70%;
    position: relative;
    top: -250px;
    left: 100px;
    animation: dangling 10000ms infinite both;
  }
  .ghost {
    position: absolute;
    bottom: 32px;
    left: 10px;
    transform: scale(0.9);
    transition: opacity 2000ms;
  }
}
@media (max-width: 800px) {
  .container {
    grid-template-areas:
      "t t t t t t"
      "g g g . . ."
      "s s s s s s";
    grid-template-rows: auto 200px auto;
    grid-template-columns: repeat(6, 1fr);
  }
  .sign-content {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .noose {
    max-width: 70%;
    position: relative;
    top: -350px;
    left: 100px;
    animation: dangling 10000ms infinite both;
  }
  .ghost {
    position: absolute;
    bottom: 35px;
    left: 10px;
    transform: scale(0.9);
    transition: opacity 2000ms;
  }
}
@media (max-width: 521px) {
  .sign-content {
    position: absolute;
    width: 100%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sign-image {
    width: 95%;
  }
}
